.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* выравнивание по центру для текстовых блоков */
.text-center {
  text-align: center;
}

/* header */
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
}

.logo_place_header{
  position: absolute;
  left: 64px;
  top: 30px;
}

.header__title {
  width: 730px;
  margin-left: 64px;
}

.main-title {
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-style: normal;
}

/* стили для главной иллюстрации */
.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0px;
}

/* description */
.page__description, .page__digits {
  margin-top: 100px;
}

.two-columns {
  display: flex;
  width: 80%;
  min-width: 784px;
  margin: 0 auto;
}

.two-columns__brief {
  width: 175px;
  font-style: normal;
}

.two-columns__main-text {
  margin-bottom: 30px;
}

.two-columns-title {
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
}

.two-columns__span-accent {
  font-weight: 600;
  line-height: 34px;
  font-size: 24px;
}

/* digits */

/* .digits {
 margin: 0 auto;
} */
.page__digits {
  margin-bottom: 100px;
}

.digits-title {
  width: 60%;
  margin: 0 auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  padding-bottom: 20px;
}



.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 auto;
}

.table {
  padding-top: 60px;
  width: 250px;
}

.table-container {
  margin: 0 auto;
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}


/* feynman*/
.feynman {
  min-height: 890px;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  position: relative;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  width: 684px;
  margin: 0 auto;
  padding-top: 100px;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  padding-top: 70px;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}


/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
